<!DOCTYPE html>
<html lang="en">

<head>
    <title>Xabbix</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h2 class="text-muted">Xabbix</h2>
        </div>

        <div class="buttons">
            <p><a class="button1" href="logIn" role="button">Settings</a>
            </p>
        </div>

        <div class="buttons">
            <p><a class="button1" href="monitoring" role="button">Monitoring</a>
            </p>
        </div>

        <footer class="footer">
            <p>&copy; Название компании</p>
        </footer>

    </div>
</body>

</html>