<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Xabbix</title>
        <link href="static/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="container">
            <div class="header">
                <h2 class="text-muted">Xabbix</h2>
            </div>

            <div class="loginform">
                <h3>User name</h3>
                <form class="form-signin">
                <label for="inputName" class="sr-only">Name</label>
                <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                <button id="btnSignUp" class="button1" type="button">Log in</button>
                </form>
            </div>



            <footer class="footer">
                <p>&copy; Название компании</p>
            </footer>

        </div>
    </body>
</html>